aiofiles==0.7.0
asgi-csrf==0.9
asgiref==3.4.1
certifi==2021.10.8
click==7.1.2
click-default-group==1.2.2
csvs-to-sqlite==1.2
datasette==0.60.1
datasette-vega==0.6.2
dateparser==1.1.0
h11==0.12.0
httpcore==0.14.7
httpx==0.22.0
hupper==1.10.3
idna==3.3
itsdangerous==2.0.1
janus==1.0.0
Jinja2==3.0.3
MarkupSafe==2.0.1
mergedeep==1.3.4
numpy==1.21.3
packaging==21.3
pandas==1.4.3
Pint==0.18
pluggy==1.0.0
py-lru-cache==0.1.4
pyparsing==3.0.7
python-baseconv==1.2.2
python-dateutil==2.8.2
python-multipart==0.0.5
pytz==2021.3
PyYAML==6.0
regex==2021.10.23
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
tzlocal==4.1
uvicorn==0.15.0
